<footer class="footer-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <nav>
                    <h6>Vital AI</h6>
                    <ul>
                        <li><a href="{{vitalSiteURL}}/tech.html">Tech</a></li>
                        <li><a href="{{vitalSiteURL}}/about-us.html">About Us</a></li>
                        <li><a href="{{vitalSiteURL}}/about-us.html#contact">Contact</a></li>
                        <li><a target="_blank" href="http://vitalai.com">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <nav>
                    <h6>Products &amp; Services</h6>
                    <ul>
                        <li><a href="{{vitalSiteURL}}/index.html#download">Development Kit</a></li>
                        <li><a href="{{vitalSiteURL}}/index.html#product">Software Development</a></li>
                        <li><a href="{{vitalSiteURL}}/index.html#product">Data Science</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3 col-sm-offset-2">
                <nav>
                    <h6>Resources</h6>
                    <ul>
                        <li><a href="http://documentation.vital.ai/">Documentation</a></li>
                        <li><a target="_blank" href="{{vitalSiteURL}}/discussion-list.html">Discussion List</a></li>
                        <li><a href="{{vitalSiteURL}}/site/terms-of-service.html">Terms of Service</a></li>
                        <li><a href="{{vitalSiteURL}}/site/privacy-policy.html">Privacy Policy</a></li>
                        <!-- <li><a target=_blank href="login.html">Customer Portal Login</a></li> -->
                        <li><a href="{{consoleURL}}/mailinglist">Manage Mailing List Membership</a></li>
                    </ul>
                </nav>
            </div>
           <center> Copyright © 2016 Vital AI, LLC </center>
        </div>
    </div>
   
    
</footer>
  