<!-- header-1 -->
        <header class="header-1" id="main-header">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation" style="top: -6px;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="{{vitalSiteURL}}/index.html#home"><img src="img/vitalai_offwhite.png" style="width: auto; height: 25px; margin-top: 6px;"></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="{{vitalSiteURL}}/index.html#home">HOME</a>
			      </li>

<li>
                                    <a href="{{vitalSiteURL}}/index.html#solutions">SOLUTIONS</a>
			      </li>
			        <li>

				<li>
                                    <a href="{{vitalSiteURL}}/tech.html">TECH</a>
                                </li>
<li>
                                    <a href="{{vitalSiteURL}}/about-us.html">ABOUT US</a>
			      </li>
                           
                                <li>
                                    <a href="http://documentation.vital.ai/">DOCUMENTATION</a>
                                </li>

                                <li>
                                    <a target="_blank" href="http://vitalai.com">BLOG</a>
                                </li>
								<li>
                                    <a href="{{consoleURL}}">CONSOLE</a>
                                </li>
                               <li style="width: 110px">
                                 <form class="navbar-form pull-left logged-out-visible">
                                   <a class="btn btn-primary" href="{{consoleURL}}/signup">SIGN UP</a>
                                 </form>
                                 <a href="{{consoleURL}}/myaccount" class="logged-in-visible"><font class="current-email" size="1">{{email}}</font></a>
                                </li>
                                <li style="width: 120px">
                                  <form class="navbar-form pull-left">
                                    <a class="btn btn-info logged-out-visible" href="{{consoleURL}}/login">&nbsp;&nbsp;LOG IN&nbsp;&nbsp;</a>
									<a id="logout-button" class="btn btn-danger logged-in-visible" href="{{consoleURL}}/logout">LOG OUT</a>
                                  </form>
                                </li>
                            </ul>
                            <ul class="subnav">
                                <li>
                                    <a href="http://documentation.vital.ai/">Documentation</a>
                                </li>
                                <li>
                                    <a href="{{vitalSiteURL}}/terms-of-service.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="{{vitalSiteURL}}/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="{{vitalSiteURL}}/mailing-list-management.html">Mailing List Management</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        